@font-face {
    font-family: "roboto";
    src: url("./dekar/Dekar.otf");
}

body
{
	padding: 0;
	margin: 0 ;
	background-image: url('ronds.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover ;
	background-position:center;
    font-family: 'roboto';
    font-weight: 200;
}
.android {
    background-image: url('bg-android.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover ;
	background-position:center;
}
#container
{
	padding: 0;
	margin: 0 ;
#	background: #fff;
	font-family: 'roboto',sans-serif;
}

#header
{
	margin: 0;
	padding: 20px;
	background: #ccc;
	height:50px;
	background-image: url('haut.jpg');
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center; 
}

#header h1 {
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

#navigation
{
	float: left;
	width: 100%;
    height: 70px;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
    text-align: center;
}

#navigation ul li
{
    text-align: center;
	list-style-type: none;
	display: inline-block;
    width: 30%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navigation li a
{ 
    font-size: 22px;
    display: block;
    line-height: 70px;
    width: 100%;
	float: left;
	color: #fff;
	text-decoration: none;
}
#navigation li:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;    
}

#navigation li a:hover { 
    background: #3567ac;
    text-decoration: underline;
}

#edito
{
	float: left;
	padding: 1%;
	margin: auto 22%;
    margin-top: 10px; 
	width: 64%;
	background-color: #f4fcff;
	border: 1px solid #999999;
	-webkit-border-radius: 25px 0px 25px 0px;
	border-radius: 25px 0px;
	-webkit-box-shadow: 5px 3px 3px #0a182e;
	box-shadow: 5px 3px 3px #0a182e;
	opacity: 0.8;
}

#edito h2
{
	color: #000;
	font-size: 160%;
    margin: .5em 0 1em 0;
}

div.element
{
	float: left;
	width: 31%;
	min-width: 400px;
	height: 400px;
	overflow-y: scroll;
	margin: 1%;
	padding: 0%;
	background-color: #f4fcff;
	border: 1px solid #999999;
	-webkit-border-radius: 25px 0px 25px 0px;
	border-radius: 25px 0px;
	-webkit-box-shadow: 5px 3px 3px #0a182e;
	box-shadow: 5px 3px 3px #0a182e;
	opacity: 0.8;
}

div.element img
{
	background-color : #fff;
	float: right;
	width: 40%;
	margin: 5%;
	border: 1px solid #000;
	padding: 5px 5px 20px 5px;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
}

p
{
	margin: 20px;
	text-align: justify;
}

h2,h3
{
	text-align: center;
}

#footer
{
    border-top: 5px solid black;
	clear: both;
    color: white;
	background: #ccc;
	text-align: left;
	font-weight: bold;
	padding: 20px;
	height: 1%;
	background-image: url('bas.jpg');
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center; 
}
